div.row
  div.col-lg-12.col-md-12.col-sm-12.col-xs-12
    h1 International Form Generation
    div.row
      div.col-lg-1.col-md-1.col-sm-0.col-xs-0
        &nbsp;
      div.col-lg-4.col-md-4.col-sm-12.col-xs-12
        div.header
          img(src="/images/Icon_map.png") 
          h4 Commercial &amp; Proforma Invoices
        p Auto-generate PDF and electronically submitted commercial and proforma invoices with your signature and letterhead automatically merged into the documents.
      div.col-lg-2.col-md-2.col-sm-0.col-xs-0
        &nbsp;
      div.col-lg-4.col-md-4.col-sm-12.col-xs-12
        div.header
          img(src="/images/Icon_map.png") 
          h4 NAFTA and Certificate of Origins
        p For shipments that qualify under the North American Free Trade Agreement (NAFTA) you can easily generate a NAFTA Certificate of Origin to obtain preferential tariff treatment.
      div.col-lg-1.col-md-1.col-sm-0.col-xs-0
        &nbsp;