div.container
      div.row
        div.col-lg-12.col-md-12.col-sm-12.col-xs-12
          h1 Built 100% natively on Salesforce
      div.row
        div.col-lg-4.col-md-4.col-sm-12.col-xs-12
          h4 Extend with Workflow
          p Shipment tracking is updated every hour which makes it easy to write workflow to create tasks, update fields and send emails. For instance, you could assign a task if a shipment is delayed or send a questionnaire when a shipment is delivered. 
        div.col-lg-4.col-md-4.col-sm-12.col-xs-12
          h4 Extend With Triggers
          p Once a shipment is created you can update parent or associated objects with shipping cost or order fulfilment status information.  You could also automatically email an RMA label to your customer. 
        div.col-lg-4.col-md-4.col-sm-12.col-xs-12
          h4 Associate with Any Object
          p You can integrate our Shipment objects with any Salesforce standard or custom object. This means you can merge data into the shipping wizard including address information, package data and reference fields. 