li.dropdown: a.sub(href="/") Home
  li: a.sub(href="#") Products
    ul.dropdown-menu
      li.toparrow
        img(src= "/images/drop-arrow.png", width="21" height="14" alt=" ")
      li: a.sub(href="/fedex-salesforce") FedEx
      li: a.sub(href="/ups-salesforce") UPS
      li: a.sub(href="/usps-salesforce") USPS 
      li: a.sub(href="/multi-carrier") Multi-Carrier
  li.dropdown: a.sub(href="/pricing") Pricing
  li.dropdown: a.sub(href="http://docs.zenkraft.com", target="_blank") Docs
  li: a.sub(href="#") Examples
    ul.dropdown-menu
      li.toparrow
        img(src= "/images/drop-arrow.png", width="21" height="14" alt=" ")
      li: a.sub(href="/pick-and-pack-station") Pick and Pack Station
      li: a.sub(href="/call-center-returns") Call Centre RMAs &amp; Returns
      li: a.sub(href="/work-order-field-management") Work Order &amp; Field Service Management 
      li: a.sub(href="/drop-shipping") DropShipping
      li: a.sub(href="/shipment-tracking") Shipment Tracking
        li: a.sub(href="/shipment-quotes") Shipment Quotes
  li: a.sub(href="#") Company
    ul.dropdown-menu
      li.toparrow
        img(src= "/images/drop-arrow.png", width="21" height="14" alt=" ")
      li: a.sub(href="/services") Services
      li: a.sub(href="/customers") Customers
      li: a.sub(href="https://blog.zenkraft.com") Blog 
      li: a.sub(href="/partners") Partners
      li: a.sub(href="/about") About
  li.dropdown: a#intercom(href="#") Contact