extends ../layout
block header
  div.col-lg-12.col-md-12.col-sm-12.col-xs-12.home-hero
    h1 Work Order &amp; Field Service Management
    h3 Work orders and Field Service Management (FSM) are generally managed under cloud-based systems. This enable businesses to control widespreed resorces: managing worker activity, locating vehicles and inventory and, most important, the schedule and dispatch of spare parts.
    div.buttons
      a.trans Watch 2 minute demo <span class="tick"><img src="/images/icon_tick.svg" alt=" "></span>
      a.filled Start for Free <span class="tick"><img src="/images/icon_tick.svg" alt=" "></span>

block content
  h1 fedex
   

  div.footer
