extends ../layout
block header
  div.col-lg-12.col-md-12.col-sm-12.col-xs-12.home-hero
    h1 Pick and Pack Station
    h3 The process of locating and pulling product from warehouse and packing it for shipment needs to be highly efficient in order to meet customer demand and accelerate business growth. 
    div.buttons
      a.trans Watch 2 minute demo <span class="tick"><img src="/images/icon_tick.svg" alt=" "></span>
      a.filled Start for Free <span class="tick"><img src="/images/icon_tick.svg" alt=" "></span>

block content
  h1 fedex
   

  div.footer
