extends ../layout
block header
  div.col-lg-12.col-md-12.col-sm-12.col-xs-12.home-hero
    h1 Pick and Pack Station
    h3 The process of locating and pulling product from warehouse and packing it for shipment needs to be highly efficient in order to meet customer demand and accelerate business growth. 
    div.buttons
      a.trans Watch 2 minute demo <span class="tick"><img src="/images/icon_tick.svg" alt=" "></span>
      a.filled Start for Free <span class="tick"><img src="/images/icon_tick.svg" alt=" "></span>

block content
  div.container.examples
    div.row
      div.col-lg-12.col-md-12.col-sm-12.col-xs-12
        h3 Picking & Packing Process
    div.row
      div.col-lg-12.col-md-12.col-sm-12.col-xs-12
        img(src="/images/Examples/pickandpackprocess.jpg")
    div.row
      div.col-lg-4.col-md-4.col-sm-12.col-xs-12
        h4 1. Sales order
        p Once a sales opportunity becomes an actual sales order, it is highly important to have clear access to the complete order details for that customer: shipment address, preferences, volume and product identification.
      div.col-lg-4.col-md-4.col-sm-12.col-xs-12
        h4 2. Picking
        p Generate 100% clear picking lists that will increase the speed and efficiency of your locating & pulling staff present in warehouse.
      div.col-lg-4.col-md-4.col-sm-12.col-xs-12
        h4 3. Packing/Shipping
        p Safely pack and prepare your product for an accurate shiptment. Shipmate integrates seamlessly with almost every thermal printers (including Eltron and Zebra), as well as laser printers, scales, and barcode scanners.

  br

  div.container.examples
    div.row
      div.col-lg-4.col-md-4.col-sm-12.col-xs-12
      h3 Integrates with Salesforce Partners
    div.row
      div.col-lg-4.col-md-4.col-sm-12.col-xs-12
      p Our apps are 100% native which makes it simple to integrate with other AppExchange partners.
    div.row
    div.col-lg-4.col-md-4.col-sm-12.col-xs-12
    img(src="/images/Examples/partners.png")

  br

  div.container.examples
    div.row
      div.col-lg-4.col-md-4.col-sm-12.col-xs-12
      h3 Why use Zenkraft for your Picking & Packing?
    div.row
      div.col-lg-4.col-md-4.col-sm-12.col-xs-12
      p It allows you to be more efficient in shipping and get your product out of the door faster.
    div.row
      div.col-lg-4.col-md-4.col-sm-12.col-xs-12
        h4 What is in it for you?
        p Create and print personalized pick sheets for all your shipments with one click.
        p Print and personalize dispatch notes in order to be sure that every order goes to the right place.
        p View outstanding shipments at a glance and organize your queue of orders to process.
        p Full flexibility to manage high volume orders and part-ship orders as your business need it.
        p Integrates with your existing hardware including barcode scanners, scales and thermal printers.
    
      div.col-lg-4.col-md-4.col-sm-12.col-xs-12
          h4 How we do it
            p You will have access to an automated, 100% Salesforce integrated, software that will increase your Picking & Packing accuracy and speed.
            p Shipmate allows you to organize your shipment orders.
            p Decide which members of your staff have permission to manage shipments and have access to your Zenkraft account.
            p Complete view of your Picking & Packing status.
            p Your shipped orders get closed and removed automatically from your work queue.

  br

  div.container.examples
    div.row
      div.col-lg-12.col-md-12.col-sm-12.col-xs-12
        h3 What do they say? 
          p Our service is solidly backed by over 700 enterprises running their supply chains on Zenkraft everyday.
      div.col-lg-2.col-md-2.col-sm-12.col-xs-12
        img(src="/images/Examples/textron.png")
      div.col-lg-2.col-md-2.col-sm-12.col-xs-12
        img(src="/images/Examples/matouk.png")
      div.col-lg-2.col-md-2.col-sm-12.col-xs-12
        img(src="/images/Examples/bl.png")
      div.col-lg-2.col-md-2.col-sm-12.col-xs-12
        img(src="/images/Examples/haagen.png")

  br

  div.container.examples
    div.row
    div.col-lg-6.col-md-6.col-sm-12.col-xs-12
    h3 Need more information? 
      div.col-lg-6.col-md-6.col-sm-12.col-xs-12
    p Schedule a demo with one of our experts to discover how you could improve your business today.




























   

  div.footer
