extends ../layout
block header
  div.col-lg-12.col-md-12.col-sm-12.col-xs-12.home-hero
    h1 Call Center RMAs and Returns
    h3 Automate returns and RMA processing in a multi-channel environment with Salesforce Service Cloud and Zenkraft
    div.buttons
      a.trans Watch 2 minute demo <span class="tick"><img src="/images/icon_tick.svg" alt=" "></span>
      a.filled Start for Free <span class="tick"><img src="/images/icon_tick.svg" alt=" "></span>

block content
  h1 fedex
   

  div.footer
