extends ../layoutgeneral
block header
  div.col-lg-12.col-md-12.col-sm-12.col-xs-12
    

block content

  div.row
    h3 Customers
    p Zenkraft have over 700 customers. Some are highlighted below
    div.col-lg-3.col-md-3.col-sm-4.col-xs-12
      img(src="/images/customers/redbull.png",class="img-responsive")
    div.col-lg-3.col-md-3.col-sm-4.col-xs-12
      img(src="/images/customers/haagendazs.png",class="img-responsive")
    div.col-lg-3.col-md-3.col-sm-4.col-xs-12
      img(src="/images/customers/patagonia.png",class="img-responsive")
    div.col-lg-3.col-md-3.col-sm-4.col-xs-12
      img(src="/images/customers/mars.png",class="img-responsive")
  div.row
    div.col-lg-3.col-md-3.col-sm-4.col-xs-12
      img(src="/images/customers/hermanmiller.png",class="img-responsive")
    div.col-lg-3.col-md-3.col-sm-4.col-xs-12
      img(src="/images/customers/makerbot.png",class="img-responsive")
    div.col-lg-3.col-md-3.col-sm-4.col-xs-12
      img(src="/images/customers/weatherchannel.png",class="img-responsive")
    div.col-lg-3.col-md-3.col-sm-4.col-xs-12
      img(src="/images/customers/hilton.png",class="img-responsive")
  div.row
    div.col-lg-3.col-md-3.col-sm-4.col-xs-12
      img(src="/images/customers/livingsocial.png",class="img-responsive")
    div.col-lg-3.col-md-3.col-sm-4.col-xs-12
      img(src="/images/customers/lenovo.png",class="img-responsive")
    div.col-lg-3.col-md-3.col-sm-4.col-xs-12
      img(src="/images/customers/3m.png",class="img-responsive")
    div.col-lg-3.col-md-3.col-sm-4.col-xs-12
      img(src="/images/customers/eventbrite.png",class="img-responsive")
  div.row
    div.col-lg-3.col-md-3.col-sm-4.col-xs-12
      img(src="/images/customers/valeant.png",class="img-responsive")
    div.col-lg-3.col-md-3.col-sm-4.col-xs-12
      img(src="/images/customers/hunterdouglas.png",class="img-responsive")
    div.col-lg-3.col-md-3.col-sm-4.col-xs-12
      img(src="/images/customers/smartthings.png",class="img-responsive")
    div.col-lg-3.col-md-3.col-sm-4.col-xs-12
      img(src="/images/customers/breville.png",class="img-responsive")
  div.row
    div.col-lg-3.col-md-3.col-sm-4.col-xs-12
      img(src="/images/customers/essilor.png",class="img-responsive")
    div.col-lg-3.col-md-3.col-sm-4.col-xs-12
      img(src="/images/customers/columbia.png",class="img-responsive")
    div.col-lg-3.col-md-3.col-sm-4.col-xs-12
      img(src="/images/customers/samsung.png",class="img-responsive")
    div.col-lg-3.col-md-3.col-sm-4.col-xs-12
      img(src="/images/customers/ticketmaster.png",class="img-responsive")
  div.row
    div.col-lg-3.col-md-3.col-sm-4.col-xs-12
      img(src="/images/customers/newell.png",class="img-responsive")
    div.col-lg-3.col-md-3.col-sm-4.col-xs-12
      img(src="/images/customers/matouk.png",class="img-responsive")
    div.col-lg-3.col-md-3.col-sm-4.col-xs-12
      img(src="/images/customers/textron.png",class="img-responsive")
    div.col-lg-3.col-md-3.col-sm-4.col-xs-12
      img(src="/images/customers/medtronic.png",class="img-responsive")
  div.row
    h3 Case Studies
    p Zenkraft have over 700 customers. Some are highlighted below
   

  div.footer
