extends ../layoutgeneral
block header
  div.col-lg-12.col-md-12.col-sm-12.col-xs-12
    

block content

  div.row
    h3 ISV Partners
    div.col-lg-4.col-md-4.col-sm-4.col-xs-12
      img(src="/images/partners/ascent.png",class="img-responsive")
      a(href="") Ascent ERP Shipping
      p Zenkraft shipping enables Shipping integration with Ascent’s Sales Order and Purchase Order Management, Inventory Control, Assembly Operations, Master Planning & Rental Management software.
    div.col-lg-4.col-md-4.col-sm-4.col-xs-12
      img(src="/images/partners/rootstock.png",class="img-responsive")
      a(href="") Rootstock Shipping
      p Rootstock Software® is a proven provider of powerful Cloud ERP manufacturing, distribution and supply chain solutions that enable manufacturers and distributors to cut costs, improve processes, and increase revenue with minimal IT infrastructure investment. 
    div.col-lg-4.col-md-4.col-sm-4.col-xs-12
      img(src="/images/partners/kenandy.png",class="img-responsive")
      a(href="") Kenandy Shipping
      p Kenandy is the developer of the only complete next generation ERP running on the Salesforce App Cloud. Kenandy automates all of your core business processes including quote-to-cash, planning and production, supply chain, and global financials.
  div.row
    div.col-lg-4.col-md-4.col-sm-4.col-xs-12
      img(src="/images/partners/accounting_seed.png")
      a(href="") AccountingSeed Shipping
      p Accounting Seed’s goal is to allow customers to build world-class business management solutions on the Force.com platform with a reliable and affordable accounting and order and inventory management package seamlessly integrated. We combine CRM and ERP with more flexibility than any other application.
    div.col-lg-4.col-md-4.col-sm-4.col-xs-12
      img(src="/images/partners/financial_force.png")
      a(href="") FinancialForce Shipping
      p Founded in 2009, FinancialForce is the leading Cloud ERP vendor with apps built entirely on the Salesforce App Cloud. The company’s Financial Management, Professional Services Automation (PSA), and Human Capital Management (HCM) offerings provide services-centric businesses with a platform that organizes sales, services, finance and HR entirely around their customers.
    div.col-lg-4.col-md-4.col-sm-4.col-xs-12
      img(src="/images/partners/")
      a(href="") Cirrus Insight Inbox Apps
      p Cirrus Insight and Zenkraft have developed a shipment status Inbox App that enables Salesforce users to track shipments without ever leaving Google Mail. 
  div.row
    div.col-lg-4.col-md-4.col-sm-4.col-xs-12
      img(src="/images/partners/cloud_conversion.png")
      a(href="") CloudConversion Shipping
      p Cloud Conversion ERP allows our clients to manage their inventory in complex and fluid environments. A change in salesforce.com can be reflected in any and all integrated eCommerce platforms so your inventory is consistent accross all channels.
    div.col-lg-4.col-md-4.col-sm-4.col-xs-12
      img(src="/images/partners/")
      a(href="") Conga Shipping Integration
      p Conga’s flagship product, Conga Composer®, is the most popular document generation and reporting solution for Salesforce. The company is privately-held and based in Broomfield, Colorado with support teams in Australia and the UK. 
    div.col-lg-4.col-md-4.col-sm-4.col-xs-12
      img(src="/images/partners/")
      a(href="") Apttus Shipping Software
      p  At Apttus, we’ve built the category-defining and leading Quote-to-Cash software provider, driving the vital business processes between a buyer’s interest in a purchase and the realization of revenue.
   

  div.footer
